---
// @ts-nocheck
import Head from 'virtual:starlight/components/Head'
import ThemeProvider from 'virtual:starlight/components/ThemeProvider'
// eslint-disable-next-line antfu/no-import-node-modules-by-path
import '#@/../node_modules/@astrojs/starlight/style/props.css'
// eslint-disable-next-line antfu/no-import-node-modules-by-path
import '#@/../node_modules/@astrojs/starlight/style/reset.css'
// eslint-disable-next-line antfu/no-import-node-modules-by-path
import '#@/../node_modules/@astrojs/starlight/style/shiki.css'
// eslint-disable-next-line antfu/no-import-node-modules-by-path
import '#@/../node_modules/@astrojs/starlight/style/util.css'
// eslint-disable-next-line antfu/no-import-node-modules-by-path
import '#@/../node_modules/@astrojs/starlight/style/asides.css'
import 'virtual:starlight/user-css';
---

<html
  data-has-hero={Boolean(Astro.props.entry.data.hero)}
  data-has-sidebar={Astro.props.hasSidebar}
  data-has-toc={Boolean(Astro.props.toc)}
  data-theme="dark"
  dir={Astro.props.dir}
  lang={Astro.props.lang}
>
  <head>
    <Head {...Astro.props} />
    <ThemeProvider {...Astro.props} />
  </head>
  <body><slot /></body>
</html>
